<!doctype html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/style/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="shortcut icon" href="static/images/pageling_logo.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>UDeploy - {{ school }}</title>
</head>
    <body>
        <h3>UDeploy</h3>
        <div class = "container">
            <form method="POST" action="http://127.0.0.1:8080/deploy" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputEmail1">Class Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name = "classname" placeholder="Enter class name">
                    <small id="emailHelp" class="form-text text-muted">Enter the class that you will be deploying for.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Class List (.CSV format)</label>
                    <input type="file" accept = ".csv" class="form-control-file" id="exampleInputPassword1" name = "classlist">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>